/*
    (c) Neko404NotFound 2018

    Makes the RTD theme less broken and shit looking

    It is 2018 and still all Sphinx themes look like garbage, are broken, or look like they just
    came back from a trip to 1992... eurgh!
*/

.wy-nav-content {
    /* Makes the body fill the viewport rather than be limited to 800px */
    max-width: 100vw !important;
}

pre {
    /* Fixes a bunch of weird CSS on Linux machines that makes monospace code sit
       on top of the previous line and look shoddy. */
    line-height: 1.5 !important;
}

/* https://github.com/sphinx-doc/sphinx/issues/4865 */
img.inheritance {
    max-width: none !important;
}

div.graphviz {
    overflow: hidden !important;
}

object {
    max-width: 100% !important;
}